@use '../abstracts/variables';

.input {
  max-width: 25rem;
  width: 100%;
  height: variables.$height-m;
  text-align: center;
  background: variables.$primary-dark;
  border-radius: 20%;
  border: none;
  font-size: variables.$m-font-size;
  color: variables.$primary-orange;
  outline: none;
  transition: all 0.2s ease;

  &:hover {
    color: variables.$secondary-primary-color;
    background: #000;
  }
}
