.input {
  max-width: 25rem;
  width: 100%;
  height: var(--height-m);
  text-align: center;
  background: var(--primary-dark);
  border-radius: 20%;
  border: none;
  font-size: var(--m-font-size);
  color: var(--primary-orange);
  outline: none;
  transition: all 0.2s ease;

  &:hover {
    color: var(--secondary-primary-color);
    background: #000;
  }
}
